/* Styles de base */
      body {
        font-family: 'Bitter', serif;
        background-color: #eef;
        color: #333;
        background: url('assets/img/fond.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        position: relative;
      }

      /* Titres */
      h1 {
        margin-bottom: 40px;
      }

      /* Images */
      img {
        width: 100%;
      }

      /* Jumbotron */
      .jumbotron {
        margin-top: 40px;
        background: rgba(255, 255, 255, 0.5);
      }
      .jumbotron img {
        padding-bottom: 20px;        
      }

      /* Footer */
      footer.row {
        margin: 20px 0 40px 0;
      }